* {
    box-sizing: border-box;
    border-radius: 0.8rem;


}

body {
    margin: 0;



}

.a1 {
    height: 25px;
    color: black;
    background-color: #93C572;
    padding: 1rem;
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

.a2 {
    height: 25px;
    margin-top: 50px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    grid-column: 1/2;
}

.a3 {
    height: 25px;
    background-color: #93C572;
    color: black;
    text-align: center;
}

.a4 {
    width: 40%;
    height: 465px;
    color: black;
    float: left;
    background-color: lightskyblue;
    border: 2px solid rgb(29, 202, 202);

}

.a5 {

    width: 60%;
    height: 35px;
    margin-top: 5px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    float: right;


}

.a6 {
    width: 60%;
    height: 35px;
    margin-top: 5px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    float: right;

}

.flex-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    justify-content: center;
    float: right;
    width: 60%;

}

.flex-item-left {
    background-color: lightskyblue;
    padding: 10px;
    grid: 50%;


}

.flex-item-right {
    background-color: lightskyblue;
    padding: 10px;
    grid: 50%;

}

.section {
    padding: 1rem 2rem;
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
}

.section h3 {
    color: white;
}

.main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1rem;
    background-color: rgb(168, 249, 249);
    padding: 1rem;

}

.a1,
.aside,
.flex-container div,
.a9,
.a10 {

    background-color: rgb(197, 232, 243);
    border: 2px solid black;
    margin-top: 5px;
    padding: 1.5rem;
}

.a9 {
    height: 10px;
    width: 60%;
    margin-top: 5px;
    background-color: #93C572;
    color: black;
    text-align: center;
    float: right;


}

.a10 {

    width: 60%;
    height: 205px;
    margin-top: 5px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    float: right;

}

/* Create two equal columns that floats next to each other */
/* .column {
    float: left;
    width: 35%;
    padding: 10px;
    text-align: center;
    height: 200px;
    background-color: lightskyblue;
    /* Should be removed. Only for demonstration */


/* Clear floats after the columns */
/* .row:after {
    background-color: lightskyblue;
    content: "";
    display: table;
    clear: both;

}  */


/* .container{
    display: grid;
    grid-template-columns:repeat(2,auto);
}
.item{
    background-color: red;
    padding: 15px 8px;
} 
 .a7{
    width: 30%;
    height: 250px;
    color: black;
    float: left;
}
.a8{
    width: 15%;     
    color: black;
    float:right;

} 

/* .row{

    display: grid;
    grid-template-columns:repeat(2,auto);

} */
/* 
.a1 {
    height: 25px;
    background-color:#93C572;
    color: black;
    text-align: center;

}  */
/* .a2 {
    height: 25px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
}  */